
/*map width and height. Jin*/
#map {
	width:83%;
	height:600px; 
	margin: 0 auto;
}
h1{
	font-size: 68px
}
#title{
	text-align: center;
	margin: 70px 0 0 0;
}
#fotterDiv{
	text-align: center;
}
form{
	margin-bottom: 60px;
}
.mapRow{
	background-color: black;
	margin-bottom: 0;
}
.displayResultDiv{
	margin-top: 30px;
	margin-bottom: 30px;
}
#h1-title{
	position: relative;
	top: 100px;
}
.titleDiv{
	position: relative;
	top: 10px;
}
.input-field{
	margin-top: 0;
}
.profile-img{
	margin-top: 25px;
}
table{
	margin-bottom: 30px;
}